
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using shopgiayonline.Framework;
@model QUANTRI

<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>

<form action="" method="post" id="formValidation">
    <table>
        @*<tr>
            <td>Tên khách hàng</td>
            <td>
                <input type="text" name="TenKH" value="" required />
            </td>
            <td><span id="error1"></span></td>
        </tr>*@
        <tr>
            <td>Email khách hàng</td>
            <td>
                <input type="text" name="EmailKH" value="" />
            </td>
            <td><span id="error2"></span></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit" name="submit">Send Mail</button></td>
        </tr>
    </table>
</form>

<script>
    //  $("button").click(function () {
    //      var TenKH = $("[name=TenKH]").val();
    //      if (TenKH == "") {
    //          $("#error1").html("Tên khách hàng không bỏ trống!!");
    //          $("[name=TenKH]").focus();
    //          return false;
    //      }


    //      var email = $("[name=EmailKH]").val();
    //if(email == ""){
    //          $("#error2").html("Email không bỏ trống!!");
    //          $("[name=EmailKH]").focus();
    //	return false;
    //}
    //else if (re.test(email)==false){
    //          $("#error2").html("Email không đúng định dạng!");
    //          $("[name=EmailKH]").focus();
    //	return false;
    //      }

    //      alert("Send mail thành công !!");
    //      return true;
    //  });
    $(document).ready(function () {
        $("#formValidation").validate({
            rules: {
                //TenKH: "required",
                EmailKH: {
                    required: true,
                    email: true
                }
            },
            messages: {
                //TenKH: "Vui lòng nhập tên khách hàng",
                EmailKH: {
                    required: "Vui lòng nhập Email",
                    email: "Email không đúng định dạng!"
                }
            }
        });
    });
</script>

