
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Content-->
<!--Carousel-->
<div class="">
    <div class="carousel slide" data-ride="carousel" id="carous" data-interval=2000>
        <!-- indicators-->
        <ul class="carousel-indicators">
            <li data-target="#carous" data-slider-to="0" class="active"></li>
            <li data-target="#carous" data-slider-to="1"></li>
            <li data-target="#carous" data-slider-to="2"></li>
        </ul>
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/TrangChu/shoes1.jpg" alt="Pic1">
            </div>
            <div class="carousel-item">
                <img src="~/Images/TrangChu/shoes2.jpg" alt="Pic2">
            </div>
            <div class="carousel-item">
                <img src="~/Images/TrangChu/shoes3.jpg" alt="Pic3">
            </div>
        </div>
        <!-- Left and right controls -->
        <a href="#carous" class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>

        <a href="#carous" class="carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
<!--Carousel end-->
<!--Middle content-->
<div class="parallax container-fluid">
    <button class="btn button">
        <a href="~/Index/SearchItem" class="text-white">SHOP NOW</a>
    </button>
    <div class="caption">
        <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">YOUR DREAMS</span>
    </div>
</div>



<!--Content end-->
